<div class="col col-md-6 col-offset-3">
    
    <form (ngSubmit)="register()">
        <div class="md-form">
             <i class="fa fa-address-card prefix"></i>
            <input mdbInputDirective type="text" class="form-control" name="nic" id="id" [(ngModel)]="user.name">
            <label for="name">NIC</label>
        </div>

        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input mdbInputDirective type="text" class="form-control" name="name" id="name" [(ngModel)]="user.name">
            <label for="name">Name</label>
          </div>
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <label for="email">Email</label>
          <input mdbInputDirective type="email" class="form-control" name="email" id="email"  [(ngModel)]="user.email">
        </div>
        <div class="md-form">
            <i class="fa fa-address-card prefix"></i>
            <label for="address">Address</label>
            <input mdbInputDirective type="text" class="form-control" name="line1" id="address"  [(ngModel)]="user.address.line1">
            <input mdbInputDirective type="text"
             class="form-control" name="line2" id="addresss"  [(ngModel)]="user.address.line2">
             <input mdbInputDirective type="text"
             class="form-control" name="city" id="addresss"  [(ngModel)]="user.address.city">
          </div>

          <div class="md-form">
              <i class="fa fa-address-card-o black-text prefix"></i>
              <label for="phone">Telephone No</label>
              <input mdbInputDirective type="text" class="form-control" name="phone" id="phone"  [(ngModel)]="user.phone">
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
